<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>啵啵</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{naviga :: nav}"></div>
<div class="jumbotron">
    <h1 style="margin: 50px">错误！！</h1>
    <p style="margin: 50px" th:text="${message}">服务太热啦，要不然稍等下再来试试~</p>
    <p><a  style="margin: 50px" class="btn btn-primary btn-lg" href="/" role="button">Back To Index</a></p>
</div>
</body>
</html>