<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布-啵啵</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.js" type="application/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">啵啵</span>
            </button>
            <a class="navbar-brand" href="#">啵啵</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="想看看什么呢">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user==null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=67e4193e4771b651399e&redirect_uri=http://localhost:8887/callback&scope=user&state=1">登录</a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="">
                <div class="form-group">
                    <label for="title">my question</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="my question">
                </div>
                <div class="form-group">
                    <label for="title">detail</label>
                    <textarea name="description" id="description" class="form-control" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="title">label</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="write labels with commas apart">
                </div>

                <button type="submmit" class="btn btn-info btn-publish">pull</button>
            </form>
        </div>
        <h4 class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>举手手指南</h3>
            <h5>我想问</h5>请用简练的语言表达问题<br>
            <h5>我还想说</h5>说明问题的内容补充相关细节<br>
            <h5>选择标签</h5>选择一个或多个适合的标签不同的标签用逗号隔开<br>
        </div>
    </div>
</div>
</body>
</html>