<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布-啵啵</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{naviga :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  发起</h2>
            <hr>
            <form action="/publish" method="post">
                <input type="hidden" name = "id" th:value="${id}">
                <div class="form-group">
                    <label for="title">my question</label>
                    <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="my question">
                </div>
                <div class="form-group">
                    <label for="description">detail</label>
                    <textarea name="description" id="description" class="form-control" th:text="${description}" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">label</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" placeholder="write labels with commas apart">
                </div>
                <div class="container-fluid main">
                    <div class="row">
                        <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12" th:text="${error}"
                        th:if="${error!=null}"></div>
                        <button type="submmit"
                                class="btn btn-info btn-publish col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            pull
                        </button>
                    </div>
                </div>

            </form>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>举手手指南</h3>
            <h5>我想问</h5>请用简练的语言表达问题<br>
            <h5>我还想说</h5>说明问题的内容补充相关细节<br>
            <h5>选择标签</h5>选择一个或多个适合的标签不同的标签用逗号隔开<br>
        </div>
    </div>
</div>
</body>
</html>